<!DOCTYPE html>
<html>
<head>
	<title><%= contacts.title %></title>
	<meta name="description" content="<%= contacts.metaDescription %>">
	<meta name="keywords" content="<%=  contacts.metaKeywords %>">
	<meta name="author" content="guyswhocode">
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/contacts/public/css/contacts.css">
</head>
<body>
	<div class="ui container">
		<h1><%= contacts.title %></h1>
		<table class="ui table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Relation</th>
					<th>Phone</th>
					<th>Dead</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if(contacts_list.length){ %>
				<% contacts_list.forEach(function(contact){ %>
				<tr>
					<td><a href="/contacts/<%= contact._id %>"><%= contact.full_name %></a></td>
					<td><i class="ui <%= contact.gender %> large icon"></i></td>
					<td><% if(contact.related_to_contact){ %><a href="/contacts/<%= contact.related_to_contact._id %>"><%= contact.related_to_contact.full_name %></a>'s <%= contact.relation %><% } %></td>
					<td><%= contact.phone %></td>
					<td><% if(contact.is_dead){ %><i class="ui check icon"></i><% } %></td>
					<td class="contact-actions">
						<a href="/contacts/<%= contact._id %>/edit" class="ui basic icon button" data-tooltip="Edit <%= contact.full_name %>" data-inverted="">
							<i class="blue edit icon"></i>
						</a>
						<div class="ui basic icon button remove" data-tooltip="Remove <%= contact.full_name %>" data-inverted="">
							<i class="red trash icon"></i>
						</div>
					</td>
				</tr>
				<% });}  %>
			</tbody>
			<tfoot class="full-width">
				<tr>
					<th colspan="6">
						<a href="/contacts/add" class="ui right floated small primary button">Add Person</a>
<!-- 						<a class="ui small right floated primary button">
							Check All
						</a> -->
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<% include ../../home/views/partials/footer.ejs %>
	<% include ../../home/views/partials/scripts.ejs %>	
</body>
</html>