<!DOCTYPE html>
<html>
<head>
	<title><%= persons.title %></title>
	<meta name="description" content="<%= persons.metaDescription %>">
	<meta name="keywords" content="<%=  persons.metaKeywords %>">
	<meta name="author" content="guyswhocode">
	<% include ../../home/views/partials/styles.ejs %>
	<link rel="stylesheet" href="/persons/public/css/persons.css">
</head>
<body>
	<div class="ui container">
		<h1><%= persons.title %></h1>
		<table class="ui table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Relation</th>
					<th>Phone</th>
					<th>Dead</th>
				</tr>
			</thead>
			<tbody>
				<% if(person_list.length){ %>
				<% person_list.forEach(function(person){ %>
				<tr>
					<td><a href="/persons/<%= person._id %>"><%= person.full_name %></a></td>
					<td><%= person.gender %></td>
					<td><% if(person.related_to_person){ %><a href="/persons/<%= person.related_to_person._id %>"><%= person.related_to_person.full_name %></a>'s <%= person.relation %><% } %></td>
					<td><%= person.phone %></td>
					<td><%= person.is_dead %></td>
				</tr>
				<% });}  %>
			</tbody>
			<tfoot class="full-width">
				<tr>
					<th></th>
					<th colspan="4">
						<a href="/persons/add" class="ui right floated small primary button">Add Person</a>
						<!-- <div class="ui small button">
							Check All
						</div> -->
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<% include ../../home/views/partials/footer.ejs %>
	<% include ../../home/views/partials/scripts.ejs %>	
</body>
</html>